body {
	
}
section.header {
	padding: 8px 20px;
	background-color: white;
}
section.body {
	background-color: #fff;
	display: table;
	width: 100%;
	height: 90%;
	position: absolute;
}
.leftPanel {
	padding: 5px;
	width: 60px;
	color: white;
	background-color: black;
	display: table-cell;
}